.container{

width: 100vw;
margin: 10px;
background-color: rgb(88, 88, 88) ;
}

.box{
    background-color: black;
    color: blanchedalmond;
    width: 250px;
    height: 250px;
    position: relative;
    animation-name: kcabee;
    animation-duration: 2s;
    animation-iteration-count: 3;

box-sizing: border-box;


 }
@keyframes kcabee{
from{
    width: 200px;




}


to{

    width: 100vw;



}

}